<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instaglam</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="overlay"></div>
    <div class="container-fluid header-top">
        <div class="col-md-12" style="padding:0px;">
            <div class="top-menu-logo"><img src="{% static 'img/logo.jpg' %}" class="center-block" style="height:40px;margin-top:10px;margin-bottom:10px;">
                <div class="menu-buttons">
                    <a class="btn btn-default" href="/" type="button"><i class="glyphicon glyphicon-home"></i></a>
                </div>
            </div>
        </div>
    </div>
  <div class="container img-container">
        <div id="upload-div"></div>
        <div class="img-div">
            {% if post.owner_profilepic %}
            <div class="header"><img class="img-circle" src="{{ post.owner_profilepic.url }}">
             {% else %}
                <div class="header"><img class="img-circle" src="{% static 'img/default.png' %}">
                    {% endif %}

                    <label>{{ post.owner }}</label>
            </div><img src="{{ post.photo.url }}">
                <div class="header"><a href="edit/{{ post.id }}">edit post</a>
                <a href="delete/{{ post.id }}">delete post</a>
                </div>
                {% if liked %}
                <div class="header"><a href="unlike/{{ post.id }}"><i class="fa fa-heart-o" style="color:red"></i></a></div>
                {% else %}
                 <div class="header"><a href="like/{{ post.id }}"><i class="fa fa-heart-o"></i></a></div>
                {% endif %}
            <div class="more-section">
                <br>
                <label>{{ post.likes }} Likes</label>

                <label>{{ post.comments }} Comments</label>
                <p><strong>{{ post.owner }}</strong>  {{ post.caption }}</p>
                <form method="post" action="comment/{{ post.id }}">
                    {% csrf_token %}
                <label>Add a comment</label>
                    <div class="header">
                <input type="text" name="comment" style="width: 500px;">
                     <input class= "btn btn-primary" type="submit">
                    </div>
                    </form>
                {% for comment in comments %}
                <p><strong>{{ comment.commenter }}</strong>  {{ comment.comment }}</p>
                {% endfor %}
            </div>

        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
$('#upload-but').click(function() {
        $('#upload-div').toggle()
        $('.overlay').toggle()
    })
</script>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    </div>
</body>

</html>